@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --transition: box-shadow 0.3s ease;
}

.dark-mode {
  --icon-image: url(../icons/icon-sun.svg);
  --text-change-mode: hsl(0, 0%, 100%);
  --background-body: hsl(207, 26%, 17%);
  --background-header: hsl(209, 23%, 22%);
  --icon-arrow: url(../icons/arrow-white.svg) no-repeat;
  --search-icon: url(../icons/search-white.svg);
  --arrow-down: url(../icons/down-white.svg);
}

.light-mode {
  --icon-image: url(../icons/icon-moon.svg);
  --text-change-mode: hsl(200, 15%, 8%);
  --background-body: hsl(0, 0%, 98%);
  --background-header: white;
  --icon-arrow: url(../icons/arrow-black.svg) no-repeat;
  --search-icon: url(../icons/search-grey.svg);
  --arrow-down: url(../icons/down-black.svg);
}

.container {
  max-width: 1440px;
  background-color: var(--background-body);
  min-height: 100vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: var(--background-header);
  color: var(--text-change-mode);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.btn-change-mode {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  color: var(--text-change-mode);
  cursor: pointer;
  gap: 5px;
}

.icon-change-mode {
  background: var(--icon-image) no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

/* home-page-container */

.home-page-container {
  padding: 40px 60px;
}

/* search-filter */

.search-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search-wrapper,
.filter-wrapper {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: var(--transition);
  cursor: pointer;
}

.search-wrapper {
  width: 37%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter-wrapper,
.search-input {
  width: 100%;
  background-color: var(--background-header);
  color: var(--text-change-mode);
}

.filter-wrapper {
  padding: 12px 60px 12px 20px;
  appearance: none;
  background-image: var(--arrow-down);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px 10px;
}

.filter-wrapper:focus {
  outline: none;
}

.search-input {
  padding: 12px 20px 12px 50px;
  border: none;
  border-radius: 5px;
  background-image: var(--search-icon);
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 15px;
}

.search-input::placeholder {
  color: lightgrey;
}

/* country-list-container */

.country-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

/* country-card */

.country-link {
  text-decoration: none;
}

.country-card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-header);
  color: var(--text-change-mode);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.flag-container {
  display: flex;
  height: 180px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.flag {
  width: 100%;
  object-fit: cover;
}

.country-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.country-name {
  min-height: 50px;
}

/* country-detail */

.btn-back {
  margin: 50px 60px 0;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 5px;
  background-color: inherit;
  cursor: pointer;
  color: var(--text-change-mode);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.icon-arrow {
  background: var(--icon-arrow);
  background-size: contain;
  width: 15px;
  height: 15px;
}

.country-detail-container {
  padding: 50px 60px;
  display: flex;
  justify-content: space-between;
}

.country-detail {
  width: 47%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  color: var(--text-change-mode);
}

.country-detail-flag {
  width: 44%;
  display: flex;
}

.country-detail-name {
  font-weight: 900;
}

.country-detail-info {
  display: flex;
}

.country-detail-info-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8px;
}

.border-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.border-button {
  padding: 5px;
  min-width: 70px;
  border: none;
  border-radius: 3px;
  background-color: inherit;
  cursor: pointer;
  color: var(--text-change-mode);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transition: var(--transition);
}

@media (max-width: 1024px) {
  .country-list-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .country-detail-container {
    padding: 50px;
  }

  .country-detail-flag {
    width: 50%;
  }

  .country-detail {
    padding: unset;
  }
}

@media (max-width: 768px) {
  .country-list-container {
    grid-template-columns: 1fr 1fr;
  }

  .country-detail-container {
    flex-direction: column;
  }

  .country-detail-flag {
    width: 100%;
  }

  .country-detail {
    width: 100%;
  }
}


@media (max-width: 425px) {

  .header-container {
    padding: 30px 20px;
    font-size: 12px;
  }

  .home-page-container {
    padding: 30px 20px;
  }

  .search-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }

  .search-filter {
    flex-direction: column;
    align-items: start;
  }

  .country-list-container {
    grid-template-columns: 1fr;
  }

  .country-card {
    margin: 0 30px;
  }

  .country-detail-container {
    flex-direction: column;
    padding: 50px 20px;
  }

  .btn-back {
    margin: 40px 20px 0;
  }

  .country-detail-flag {
    width: 100%;
  }

  .country-detail {
    width: 100%;
  }

  .country-detail-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .country-detail-info-list {
    width: 100%;
    gap: 10px;
  }
}